<%provide(:title, "Contact")%>
    <h1>Contact Information</h1>
    
    <h3>Connect with the developer</h2>
    <p><strong>Website:</strong> https://sumair-dev.netlify.app/</p>
    <p><strong>Email:</strong> sumairqaisar992@gmail.com</p>
    <p><a href="https://www.linkedin.com/in/sumairq/"><strong>LinkedIn</strong></a></p>