<%provide(:title, "Help")%>
<h1>Help</h1>
<p>Get help on the Ruby on rails tutorial at the
    <a href="http://www.railstutorial.org/#help">Rails tutorial help section</a>
    To get help on this sample app ....
    <a href="http://www.railstutorial.org/book">Rails on railstu tutorial</a>
</p>
